<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="INADRGExporter.Properties.Settings.RSKUPANGConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RSKUPANG;Persist Security Info=True;User ID=sa;Password=pocopoco"
            providerName="System.Data.SqlClient" />
        <add name="INADRGExporter.Properties.Settings.ClientRSKUPANGConnectionString"
            connectionString="Data Source=RSKUPANG.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.242.0" newVersion="9.0.242.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
