<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="INADRGExporter.Properties.Settings.RSKUPANGConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RSKUPANG;Persist Security Info=True;User ID=sa;Password=pocopoco"
            providerName="System.Data.SqlClient" />
        <add name="INADRGExporter.Properties.Settings.ClientRSKUPANGConnectionString"
            connectionString="Data Source=|DataDirectory|\RSKUPANG.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>