<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="INADRGExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="INADRGExporter.Properties.Settings.RSKUPANGConnectionString"
            connectionString="Data Source=server;Initial Catalog=RSKUPANG;Persist Security Info=True;User ID=sa;Password=pocopoco"
            providerName="System.Data.SqlClient" />
        <add name="INADRGExporter.Properties.Settings.ClientRSKUPANGConnectionString"
            connectionString="Data Source=RSKUPANG.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.242.0" newVersion="9.0.242.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <INADRGExporter.Properties.Settings>
   <setting name="DateFormat" serializeAs="String">
    <value>dd/MM/yyyy</value>
   </setting>
   <setting name="OutputDirectory" serializeAs="String">
    <value>c:\grouping</value>
   </setting>
   <setting name="AutomaticGrouping" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ErrorColor" serializeAs="String">
    <value>DarkRed</value>
   </setting>
   <setting name="PreviewSize" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="NamaRumahSakit" serializeAs="String">
    <value>Prof. Dr. W. Z. Johannes Kupang</value>
   </setting>
   <setting name="KodeRumahSakit" serializeAs="String">
    <value>5303035</value>
   </setting>
   <setting name="RumahSakit" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>A</string>
      <string>B</string>
      <string>CD</string>
      <string>RSCM</string>
      <string>RSAB</string>
      <string>RSJP</string>
      <string>KANKER</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="TypeRumahSakit" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DecimalSeparator" serializeAs="String">
    <value>.</value>
   </setting>
   <setting name="GroupingProfile" serializeAs="String">
    <value>default.pro</value>
   </setting>
   <setting name="ThreeMHISDirectory" serializeAs="String">
    <value>C:\3mhis\3M_CGS\3M CGS INA</value>
   </setting>
   <setting name="ThreeHMISExecutable" serializeAs="String">
    <value>3MCGS.exe</value>
   </setting>
  </INADRGExporter.Properties.Settings>
 </userSettings>
</configuration>
